*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 92);
    color: white;
}

ul li{
    list-style: none;
    border: 3px solid white;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

ul {
    border: 3px solid white;
    padding: 0;
}

i:hover{
    color: red;
    cursor: pointer;
}